<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Laikipia Hub# Sign-Up </title>
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
      rel="stylesheet"
    />

    <!-- custom css -->
    <link rel="stylesheet" href="css/main.css" />

    <!-- fonts -->
    <script
      src="https://kit.fontawesome.com/5e6ea00f2d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- nav -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <h3><span class="span_green">Laikipia</span>  <span>Campus</span>  <span class="span_logo">Hub</span></h3>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarRightAlignExample"
          aria-controls="navbarRightAlignExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarRightAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">patron</a>
            </li>
            <!-- Navbar dropdown -->

            <li class="nav-item">
              <a class="nav-link learn" href="#"
                >Lets Learn <i class="fa fa-graduation-cap"></i
              ></a>
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>

    <!-- hero -->
<!-- Register Card -->

<div class="section mt-4 form_div">
    <div class="container mt-4">
        <div class="row mt-4">
            <div class="col-md-3"></div>
            <div class="col-md-5 mt-4">
                <div class="card mt-4">
                    <h4 class="mt-4 text-center card-body">We are Proud to Have You Here</h4>
                    <p class="text-center">Create An Account</p>
                    <!-- form -->
                    <form action="/register" method="POST">
                        <div class="card-body">
                            <div class="form-outline">
                                <input type="text" name="name" id="formControlDefault" class="form-control" />
                                <label class="form-label" for="Username">Username</label>
                              </div>
                              <div class="form-outline mt-4">
                                <input type="email" name="email" id="formControlDefault" class="form-control" />
                                <label class="form-label" for="email">E-mail</label>
                              </div>
                              <div class="form-outline mt-4">
                                <input type="password" name="password"  id="formControlDefault" class="form-control" />
                                <label class="form-label" for="password">Password</label>
                              </div>
                              <div class="btn_signup">
                                <button type="button" class="mt-4  btn-block btn btn-success">Sign up</button>
                              </div>
                              <div class="login">
                                  <p class="mt-2">Have an Account? <a href="/login">Back to Login</a></p>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

  

    <div class="footer">
      <footer>@lu 2022</footer>
    </div>

    <!-- js -->
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
    ></script>
  </body>
</html>
